<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Начнем тестирование?</h1>
    <p>Вам предстоит ответить на несколько вопросов теста, в результате чего система определить, насколько вы здоровы.</p>
    <a type="button" class="btn btn-lg btn-primary" href="/test"><span class="glyphicon glyphicon-flash"></span> Поехали!</a>
  </div>
</div>
<div class="container">
   <div class="alert alert-info text-center" role="alert">
    Пожалуйста, старайтесь отвечать честно - это в ваших же интересах!
   </div>
</div>


</body>
</html>
