<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Опросник по оценке выраженности эректильной дисфункции (МИЭФ - 5)</h2>
        Возраст <input type="text">
        <table>
                <tr>
                        <th></th>
                        <th></th>
                        <th>Чрезвычайно трудно;
                                почти никогда
                                или никогда</th>
                        <th>Очень трудно;
                                редко (реже чем в половине случаев)</th>
                        <th>Трудно;
                                иногда ( примерно в половине случаев )</th>
                        <th>Не очень трудно;
                                часто ( более чем в половине случаев)</th>
                        <th>Нетрудно;
                                почти всегда
                                или всегда</th>
                </tr>

                <% questions.forEach(function(r, i) { %>
                <tr>
                        <th><%= i %></th>
                        <th><%= r %></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                </tr>
                <% }); %>
        </table>

        <!--Общая сумма баллов степени выраженности эректильной дисфункции-->
        <!--Оценка симптомов общей суммы баллов:-->
        <!--21 – 25 баллов – отсутствие эректильная дисфункция (норма)-->
        <!--16 – 20 баллов – лёгкая эректильная дисфункция-->
        <!--11 – 15 баллов – умеренная эректильная дисфункция-->
        <!--5 – 10 баллов – значительная эректильная дисфункция-->


        <!--Направление к урологу если сумма в строке-->


        <!--Сумма IPSS-->
        <!--Больше-->
        <!--0-->


        <!--Сумма МИЭФ-5-->
        <!--Меньше-->
        <!--20-->

        <!--Телефон-->

        <!--ОПРОСНИК IPSS-->
        <!--________________________________________________________________________________Возраст___________Дата-->

        <!--Не было	Реже, чем-->
        <!--1 раз из 5-->
        <!--случаев	Менее, чем-->
        <!--в половине-->
        <!--случаев	Примерно в-->
        <!--половине-->
        <!--случаев	Более, чем-->
        <!--в половине-->
        <!--случаев	Почти-->
        <!--всегда-->
        <!--СИМПТОМЫ   ОПОРОЖНЕНИЯ (ОБСТРУКТИВНЫЕ)-->
        <!--(1балл = 5 %  от всех симптомов опорожнения;    результат опроса =       балла (ов);          %)-->
        <!--1	В течение последнего месяца как часто у Вас-->
        <!--было ощущение неполного опорожнения-->
        <!--мочевого пузыря после мочеиспускания ?	0	1	2	3	4	5-->
        <!--2	В течение последнего месяца как часто у Вас-->
        <!--мочеиспускание было прерывистым ?	0	1	2	3	4	5-->
        <!--3	В течение последнего месяца как часто Вы-->
        <!--ощущали слабый напор мочевой струи	0	1	2	3	4	5-->
        <!--4	В течение последнего месяца как часто Вам-->
        <!--приходилось прилагать усилия и натуживаться,-->
        <!--чтобы начать мочеиспускание ?	0	1	2	3	4	5-->
        <!--СИМПТОМЫ   НАКОПЛЕНИЯ   (ИРРИТАТИВНЫЕ)-->
        <!--(1 балл = 6,6 % от всех симптомов накопления;     результат опроса =          балла (ов);           %)-->
        <!--5	В течение последнего месяца как часто у Вас-->
        <!--возникла потребность мочиться ранее, чем-->
        <!--через 2 часа после последнего мочеиспускания ?	0	1	2	3	4	5-->
        <!--6	В течение последнего месяца как часто Вы-->
        <!--находили трудным временно воздержаться-->
        <!--от мочеиспускания при возникновении позыва ?	0	1	2	3	4	5-->
        <!--7	В течение последнего месяца сколько раз за ночь-->
        <!--Вам приходится вставать помочиться, начиная-->
        <!--со времени, когда Вы ложитесь спать и заканчивая-->
        <!--временем, когда Вы встали утром ?	Ни разу	1 раз	2 раза	3 раза	4 раза	5 или более-->
        <!--раз-->
        <!--0	1	2	3	4	5-->
        <!--СУММАРНЫЙ   БАЛЛ   IPSS =-->
        <!--Оценка: 0 – 7 баллов – лёгкая симптоматика;-->
        <!--8 – 19 баллов – умеренная симптоматика;-->
        <!--20 – 35 баллов – тяжёлая симптоматика-->

</div>

</body>
</html>
